.todoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(208, 205, 205);
    color: rgb(10, 10, 10);
    margin: 0 0 2px 0;
    width: 20rem;
    padding: 0 8px;
    border-radius: 10px;
}

#taskCheckbox {
    width: 1rem;
    height: 1rem;
}

.line-through {
    text-decoration: line-through;
}

.iconContainer {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 2rem;
    height: 2rem;
}

.icon {
    color: rgb(106, 105, 105);
}